<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Your Portfolio</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap/dist/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
  </head>

<body class="custom-body">

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
        <a class="navbar-brand" href="#">MY PORTFOLIO</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="#about">About me</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#projects">Projects</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#contact">Contact</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<section id="about" class="py-5">
  <body>
    <div class="container">
      <div id="animatedText" class="anim">Test Test</div>
      <h2>About me</h2>
      <button type="button" onclick=""></button>
      <p class="lead" style="color:green">Embarking on my programming journey towards the close of 2022, I found myself captivated by the intricate world of computers and their inner workings. With Python as my compass, I embarked on an exhilarating exploration. As I delved into the realm of programming, I mastered the nuances of dynamic tools like Pandas, NumPy, SciKit-Learn, and the creative canvas of Kivy and KivyMD. My prowess was put to the test as I engaged in captivating coding duels on platforms like Codewars, refining my Python expertise. Simultaneously, the allure of Machine Learning drew me into the exciting arena of Kaggle, where I honed my skills in real-world applications.</p>
      <p class="lead" style="color:orange">But my journey didn't stop there. The last two months have seen me venture into the captivating realm of web development. While spreading my wings across this landscape, my focus has primarily been on the intricate realm of back-end development. Each line of code I write is a step towards creating seamless digital experiences, a testament to my insatiable curiosity and relentless pursuit of excellence. So come, wander through my portfolio, where the symphony of Python, Machine Learning, and web development come together to paint the vibrant portrait of my coding odyssey.</p>
    </div>
  </body>
</section>

<section id="projects" class="py-5 bg-light">
    <div class="container">
      <h2>Projects</h2>
        <div class="row">
          {% for i in range(6) %}
          <div id={{i}} class="col-md-6">
            <div class="card mb-4">
                <div class="card-body">
                  <h3 class="card-title">Project {{i+1}}</h3>
                    <div class="row">
                      <div class="col-sm-6">
                        <img alt="Flag for Uganda" src="//c.tadst.com/gfx/n/fl/48/ug.png" class="img-fluid mb-2" title="Flag for Uganda">
                      </div>
                      <div class="col-sm-6">
                        <img alt="Flag for Uganda" src="https://drive.google.com/file/d/1M8WUb6RXsE7-dC_j9rWB26lirfa_Qp3V/view" class="img-fluid mb-2" title="Flag for Uganda">
                      </div>
                      <div class="col-sm-6">
                        <img alt="Flag for Uganda" src="//c.tadst.com/gfx/n/fl/48/ug.png" class="img-fluid mb-2" title="Flag for Uganda">
                      </div>
                      <div class="col-sm-6">
                        <img alt="Flag for Uganda" src="//c.tadst.com/gfx/n/fl/48/ug.png" class="img-fluid mb-2" title="Flag for Uganda">
                      </div>
                      <div class="col-sm-6">
                        <img alt="Flag for Uganda" src="//c.tadst.com/gfx/n/fl/48/ug.png" class="img-fluid mb-2" title="Flag for Uganda">
                      </div>
                      <div class="col-sm-6">
                        <img alt="Flag for Uganda" src="//c.tadst.com/gfx/n/fl/48/ug.png" class="img-fluid mb-2" title="Flag for Uganda">
                      </div>
                    </div>
                    <p class="card-text">Description of project 2.</p>
                </div>
            </div>
          </div>
          {% endfor %}
        </div>
    </div>
</section>

<section id="contact" class="py-5">
    <div class="container">
        <h2>Contact</h2>
        <p>You can reach me at your@email.com</p>
    </div>
</section>

<script src="{{ url_for('static',filename='index.js') }}"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
 
